.homepage-footer {

    .footer {
        background-color: #dff3ff;
        padding-top: 70px;
        padding-bottom: 0;
        a{
            border-left: none;
        }
    }

    @media(max-width: 574px) {
        .footer-col {
            width: 100%;
        }
    }

}