.recent-disease-section {
    width: 100%;
    height: 534px;

    .recent-disease-section-title {
        font-size: 40px;
        color: #3494b5;
        font-weight: 500;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 81px;
    }

    .recent-disease-section-contents {
        display: flex;
        height: 534px;

        .left-contents {
            width: 45%;
            height: 394px;
            margin-top: 0px;
            margin-left: 85px;
            margin-bottom: 0px;
            margin-right: 0;
            display: flex;
            // align-items: center;
            // text-align: center;
            // justify-content: center;

            iframe {
                margin-top: 0;
                scale: 100%;
                border: 1px solid rgb(194, 194, 194);
                border-radius: 20px;
            }
        }

        .right-contents {
            margin-top: 0px;
            margin-left: 0;
            height: 394px;
            margin-bottom: 0px;
            margin-right: 85px;
            width: 45%;

            .information-source {
                margin-left: 30px;
                font-size: 19px;
                color: #3494b5;

                .ensurance-text {
                    margin-bottom: 10px;
                    margin-left: 10px;
                }

                .fontawesome-icon {
                    color: rgb(80, 215, 80);
                    padding: 0 10px 0 0;
                }
            }

            .source-image {
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                /* Cho phép các div con tự động xuống dòng */
                justify-content: flex-start;

                /* Canh trái các div con trong hàng */
                .image-css {
                    background-size: contain;
                    height: 104px;
                    width: 256px;
                    background-position: center;
                    border: 1px solid #c1e9ff;
                    border-radius: 10px;
                    margin: 10px 0 10px 20px;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    transition: border 0.1s;
                }

                .image-css:hover {
                    border: 3px solid rgb(141, 210, 247);
                }

                .special-image-css {
                    background-size: 100% 170% !important;
                }

                .source-1 {
                    background-image: url('../../../../assets/images/disease-information-source/images.png');
                }

                .source-2 {
                    background-image: url('../../../../assets/images/disease-information-source/tải\ xuống.png');
                }

                .source-3 {
                    background-image: url('../../../../assets/images/disease-information-source/tải\ xuống\ \(1\).png');
                }

                .source-4 {
                    background-image: url('../../../../assets/images/disease-information-source/tải\ xuống\ \(2\).png');
                }
            }
        }
    }
}