.medical-facility-article-container {
    width        : 100%;
    margin-bottom: 10px;

    .medical-facility-background-and-avatar-image {
        width : 100%;
        height: 580px;

        .background-container {
            width          : 100%;
            display        : flex;
            justify-content: center;
            margin         : 60px 0;

            .medical-facility-background {
                background-image   : url("../../../assets/images/ac84096a00c812843372bd9f5489d15e350dfe57_s2_n3_y1.jpg");
                width              : 87.5%;
                height             : 430px;
                border-radius      : 20px;
                background-size    : cover;
                background-repeat  : no-repeat;
                background-position: center;
            }
        }

        .medical-facility-avatar-and-name {
            position    : relative;
            left        : 160px;
            top         : -110px;
            height      : 180px;
            margin-left : 0;
            margin-right: 120px;
            display     : flex;
            align-items : center;

            .avatar-css {
                position           : relative;
                background-color   : white;
                height             : 130px;
                aspect-ratio       : 1.5 / 1;
                border             : 5px solid rgb(168, 214, 252);
                border-radius      : 10px;
                background-size    : contain;
                background-position: center;
                background-repeat  : no-repeat;
                box-shadow         : 0 0 0 10px white;
            }

            .default-avatar-css {
                position           : relative;
                background-color   : white;
                height             : 130px;
                aspect-ratio       : 1.5 / 1;
                border             : 5px solid rgb(168, 214, 252);
                border-radius      : 10px;
                background-size    : 60% 80%;
                background-position: center;
                background-repeat  : no-repeat;
                box-shadow         : 0 0 0 10px white;
            }

            .medical-facility-name-and-address {
                margin: 0 0 0 20px;

                .medical-facility-name {
                    font-size: 24px;
                    color    : #49bce2;
                }

                .medical-facility-address {
                    font-size: 18px;

                    .location-icon {
                        font-size   : 20px;
                        color       : #49bce2;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .medical-facility-booking-with-doctor-section {
        // margin-top   : 20px;
        margin-bottom: 10px;

        .doctors-of-this-medical-facility {
            background-color: rgb(245, 250, 255);
        }
    }

    .medical-facility-booking-with-package-section {
        // border-bottom: 1px solid red;
    }

    .medical-facility-booking-exam-package-section {}

    .medical-facility-specialty-area-section {
        ul {
            margin-bottom: 0px;

            li {
                margin   : 0px 6.25% 0px 6.25%;
                font-size: 17px;
            }
        }
    }

    .medical-facility-map-section {
        z-index      : 0;
        .map-frame {
            position: relative;
            margin       : 10px 205px 30px 205px;
            border       : 2px solid #49bce2;
            border-radius: 10px;
            z-index      : 0;
            .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
                border-radius: 10px;
            }
        }
    }

    .medical-facility-introduction-section {
        p {
            font-size: 17px;
            margin   : 0px 6.25% 0px 6.25%;

            strong {
                color        : #0fbcf6;
                font-size    : 17px;
                // margin: 0;
                display      : inline-block;
                border-radius: 10px;
            }

            ul {
                margin-bottom: 0px;

                li {
                    margin   : 0px 6.25% 0px 6.25%;
                    font-size: 17px;
                }
            }

            img {
                max-width    : 100%;
                width        : 80%;
                height       : auto;
                display      : block;
                margin       : 20px auto 20px auto;
                border-radius: 20px;
            }
        }

        ul {
            margin-bottom: 0px;

            li {
                margin   : 0px 6.25% 0px 6.25%;
                font-size: 17px;
            }
        }
    }

    .medical-facility-equipments-html {
        p {
            font-size: 17px;
            margin   : 0px 6.25% 0px 6.25%;

            strong {
                color        : #0fbcf6;
                font-size    : 17px;
                // margin: 0;
                display      : inline-block;
                border-radius: 10px;
            }

            ul {
                margin-bottom: 0px;

                li {
                    margin   : 0px 6.25% 0px 6.25%;
                    font-size: 17px;
                }
            }

            img {
                max-width    : 100%;
                width        : 80%;
                height       : auto;
                display      : block;
                margin       : 20px auto 20px auto;
                border-radius: 20px;
            }
        }

        ul {
            margin-bottom: 0px;

            li {
                margin   : 0px 6.25% 0px 6.25%;
                font-size: 17px;
            }
        }
    }

    .section-label {
        margin          : 20px 6.25% 20px 6.25%;
        padding         : 0 10px 0 10px;
        color           : #0fbcf6;
        font-weight     : 600;
        font-size       : 20px;
        border-bottom   : 1.5px solid #0fbcf6;
        border-left     : 1.5px solid #0fbcf6;
        border-right    : 1.5px solid #e6f9ff;
        border-top      : 1.5px solid #e6f9ff;
        background-color: #e6f9ff;
        display         : inline-block;
        border-radius   : 10px;
    }

    .section-label::before {
        content    : "\f48e";
        font-family: "Font Awesome 5 Free";
        font-size  : 18px;
        font-weight: 600;
        margin     : 0 7px 0 0;
    }

    .medical-facility-scrollspy-menu {
        margin    : 0px 0 10px 0;
        position  : sticky;
        top       : 70px;
        transition: all 0.3s ease;
        z-index   : 20;

        &.sticky {
            width      : 70%;
            margin-left: 200px;
        }

        .scrollspy-menu-header {
            width             : 100%;
            padding           : 5px 100px;
            display           : flex;
            background        : #2cb9ff;
            // border-radius  : 10px;
            justify-content   : center;
            align-items       : center;

            .facility-scrollspy-menu-navigation a {
                font-size      : 15px;
                display        : inline-block;
                width          : 150px;
                text-align     : center;
                color          : white;
                text-decoration: none;
                border         : 1px solid transparent;
                border-radius  : 5px;
                font-weight    : 600;
                transition     : 0.2s;
                cursor         : pointer;
            }

            .facility-scrollspy-menu-navigation a.active {
                border       : 1px solid white;
                background   : #78d2ff;
                border-radius: 5px;
            }

            .facility-scrollspy-menu-navigation a:hover {
                border       : 1px solid white;
                background   : #78d2ff;
                border-radius: 5px;
            }
        }
    }

    #booking-appointment,
    #general-introduction,
    #equipments,
    #specialty-area,
    #location,
    #exam-process {
        scroll-margin-top: 100px;
    }
}