.user-display-container {
    .users-display-table {
        padding: 20px;

        #users {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #users td,
        #users th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #users tr:nth-child(even) {
            background-color: #d9d9d9;
        }

        #users tr:hover {
            background-color: #a9d6f4;
        }

        #users th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0071ba;
            color: white;
        }

        .edit-button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            margin: 0 5px;
            /* Đặt chiều rộng và chiều cao bằng nhau */
            height: 40px;

            border-radius: 5px;
        }

        .update-button {
            font-size: 20px;
            border: 2px solid #0071ba;
            color: #0071ba;
            transition: background-color 0.3s, color 0.3s;
            /* Hiệu ứng chuyển đổi màu */
        }

        .edit-button.update-button:hover {
            background-color: #0071ba;
            /* Đổi nền thành màu xanh */
            color: #fff;
            /* Đổi chữ thành màu trắng */
        }

        .delete-button {
            font-size: 20px;
            border: 2px solid red;
            color: red;
            transition: background-color 0.3s, color 0.3s;
            /* Hiệu ứng chuyển đổi màu */
        }

        .edit-button.delete-button:hover {
            background-color: red;
            /* Đổi nền thành màu xanh */
            color: #fff;
            /* Đổi chữ thành màu trắng */
        }
    }
}