.user-manage-by-redux-container {
    .title {}

    .user-manage-by-redux-body {
        .container {
            .form-contents-container {
                padding: 20px;
                background-color: #f9f9f9;
                /* Màu nền nhẹ */
                border-radius: 8px;
                /* Bo góc cho form */
                max-width: 850px;
                /* Giới hạn chiều rộng tối đa */
                margin: 0 auto;

                /* Căn giữa form */
                .form-group {
                    margin-bottom: 10px;
                    /* Khoảng cách giữa các form group */
                }

                .form-group label {
                    font-weight: bold;
                    margin-bottom: 10px;
                    display: block;
                    /* Để nhãn nằm riêng trên dòng */
                }

                .form-group input {
                    // padding: 10px;
                    // border-radius: 5px;
                    // border: 1px solid #ccc;
                    width: 100%;
                    height: 35px !important;
                }

                #exampleSelect {
                    width: 100%;
                }

                .row>[class*='col-'] {
                    padding: 0 15px;
                    /* Khoảng cách giữa các cột */
                }
            }
        }
    }
}