.appointment-item-for-patient-interface {
    height: fit-content;
    width: 100%;
    border: 1px solid #b5daff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 15px 0;
    display: flex;

    .doctor-avatar-and-appointment-time-container {
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3px;
        .doctor-avatar-section {
            position: relative;
            height: 92px;
            aspect-ratio: 1 / 1;
            border: 3px solid #c3e8ff;
            border-radius: 50%;
            background-size: 105% 105%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .appointment-item-for-patient-label {
            font-size: 16px;
            height: auto;
            color: #49bce2;
        }
        .appointment-time-icon {
            font-size: 16px;
            margin-right: 5px;
            color: #ffc096;
        }
    }

    .appointment-details-section {
        .appointment-item-for-patient-label {
            width: 180px;
            color: #49bce2;
        }
        font-size: 16px;
        .done-button-container-for-doctor {
            display: flex;
            gap: 12px; /* khoảng cách giữa các div con */
            width: fit-content;
            align-items: center;
            margin: 10px 0;

            $aqua: #7dbcfc;
            $green: #50e386;
            $gray: #bbbbbb;
            $red: rgb(255, 97, 97);

            .button-wrapper-2 {
                width: 170px;
                display: flex;
                justify-content: center;
                .paid-button {
                    padding: 0 10px;
                    outline: none;
                    height: 30px;
                    text-align: center;
                    width: 100%;
                    border-radius: 5px;
                    background: #fff;
                    border: 2px solid $red;
                    color: $red;
                    letter-spacing: 1px;
                    font-size: 12px;
                    cursor: pointer;
                    transition: all 0.25s ease;

                    &:hover {
                        color: white;
                        background: $red;
                    }

                    &:active {
                        letter-spacing: 2px;
                        border-radius: 30px;
                    }
                    &::before {
                        font-family: "Font Awesome 5 Free";
                        content: "\f06a";
                        font-weight: 900;
                        font-size: 13px;
                        margin-right: 5px;
                    }
                    &:after {
                        content: "Chưa thanh toán";
                    }

                    &.onclic {
                        width: 30px;
                        border-color: $gray;
                        border-width: 3px;
                        border-radius: 30px;
                        font-size: 0;
                        border-left-color: $aqua;
                        animation: rotating 2s 0.25s linear infinite; // ⚙ chạy xoay vô hạn khi đang loading

                        &:after {
                            content: "";
                        }

                        &:hover {
                            border-radius: 30px;
                            color: $green;
                            background: white;
                        }
                    }

                    &.validate {
                        border-radius: 30px;
                        border-color: $green;
                        font-size: 13px;
                        color: white;
                        background: $green;
                        &::before {
                            font-family: "Font Awesome 5 Free";
                            content: "\f058";
                            font-weight: 900;
                            font-size: 13px;
                            margin-right: 5px;
                        }
                        &:after {
                            content: "Đã thanh toán";
                        }
                    }
                }
            }
            .button-wrapper-1 {
                width: 215px;
                display: flex;
                justify-content: center;
                .done-button {
                    padding: 0 10px;
                    outline: none;
                    height: 30px;
                    text-align: center;
                    width: 100%;
                    border-radius: 5px;
                    background: #fff;
                    border: 2px solid $aqua;
                    color: $aqua;
                    letter-spacing: 1px;
                    font-size: 12px;
                    cursor: pointer;
                    transition: all 0.25s ease;
                    &:hover {
                        color: white;
                        background: $aqua;
                    }

                    &:active {
                        letter-spacing: 2px;
                        border-radius: 30px;
                    }
                    &::before {
                        font-family: "Font Awesome 5 Free";
                        content: "\f0e0";
                        font-weight: 900;
                        font-size: 13px;
                        margin-right: 5px;
                    }
                    &:after {
                        content: "Chưa xác nhận đặt lịch";
                    }

                    &.onclic {
                        width: 30px;
                        border-color: $gray;
                        border-width: 3px;
                        border-radius: 30px;
                        font-size: 0;
                        border-left-color: $aqua;
                        animation: rotating 2s 0.25s linear infinite; // ⚙ chạy xoay vô hạn khi đang loading

                        &:after {
                            content: "";
                        }

                        &:hover {
                            border-radius: 30px;
                            color: $green;
                            background: white;
                        }
                    }

                    &.validate {
                        border-radius: 30px;
                        border-color: $aqua;
                        font-size: 13px;
                        color: white;
                        background: $aqua;

                        &::before {
                            font-family: "Font Awesome 5 Free";
                            content: "\f46d";
                            font-weight: 900;
                            font-size: 13px;
                            margin-right: 5px;
                        }

                        &:after {
                            content: "Chờ khám";
                        }
                    }
                    &.finish {
                        border-radius: 30px;
                        border-color: $green;
                        background: $green;
                        color: white;
                        font-size: 13px;

                        &::before {
                            font-family: "Font Awesome 5 Free";
                            content: "\f058"; // icon check-circle
                            font-weight: 900;
                            font-size: 13px;
                            margin-right: 5px;
                        }

                        &:after {
                            content: "Đã khám";
                        }
                    }
                }
            }

            @keyframes rotating {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }
        }

        .medical-report-unavailable {
        }
        .medical-report-available {
            .file-icon {
                font-size: 20px;
                color: #2cb9ff;
                margin-right: 5px;
            }
            cursor: pointer;
            transition: all 0.25s;
        }
        .medical-report-available:hover {
            color: #2cb9ff;
        }
    }
    .modal-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99999;
    }

    .modal-container {
        width: 830px;
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        animation: fadeIn 0.2s ease;
    }

    .modal-header {
        padding: 12px 20px;
        background: #f5f5f5;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
    }

    .close-btn {
        cursor: pointer;
        font-size: 24px;
    }

    .modal-body {
        padding: 20px;
        max-height: 60vh;
        overflow-y: auto;
        // overflow-x: hidden;
    }

    .report-content {
        white-space: pre-wrap; // << TỰ ĐỘNG XUỐNG DÒNG
        word-break: break-word; // << BẮT BUỘC NGẮT DÒNG KHI QUÁ DÀI
        margin: 0; // << XÓA KHOẢNG TRỐNG MẶC ĐỊNH
        padding: 0;
    }

    .modal-footer {
        padding: 12px;
        text-align: right;
    }

    .close-button {
        background: #4a90e2;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 6px;
    }

    // .appointment-id {
    //     font-size: 16px;

    //     .appointment-item-for-patient-label {
    //         width: 215px;
    //         height: auto;
    //         color: #49bce2;
    //     }

    //     .appointment-item-for-patient-content {
    //         width: fit-content;
    //         height: auto;
    //     }
    // }

    // .doctor-name {
    //     font-size: 16px;

    //     .appointment-item-for-patient-label {
    //         width: 215px;
    //         height: auto;
    //         color: #49bce2;
    //     }

    //     .appointment-item-for-patient-content {
    //         width: fit-content;
    //         height: auto;
    //     }
    // }

    // .doctor-phone-number {
    //     font-size: 16px;

    //     .appointment-item-for-patient-label {
    //         width: 215px;
    //         height: auto;
    //         color: #49bce2;
    //     }

    //     .appointment-item-for-patient-content {
    //         width: fit-content;
    //         height: auto;
    //     }
    // }

    // .doctor-email {
    //     font-size: 16px;

    //     .appointment-item-for-patient-label {
    //         width: 215px;
    //         height: auto;
    //         color: #49bce2;
    //     }

    //     .appointment-item-for-patient-content {
    //         width: fit-content;
    //         height: auto;
    //     }
    // }

    // .doctor-specialty {
    //     font-size: 16px;

    //     .appointment-item-for-patient-label {
    //         width: 215px;
    //         height: auto;
    //         color: #49bce2;
    //     }

    //     .appointment-item-for-patient-content {
    //         width: fit-content;
    //         height: auto;
    //     }
    // }

    // .appointment-date {
    //     font-size: 16px;

    //     .appointment-item-for-patient-label {
    //         width: 215px;
    //         height: auto;
    //         color: #49bce2;
    //     }

    //     .appointment-item-for-patient-content {
    //         width: fit-content;
    //         height: auto;
    //     }
    // }

    // .appointment-timeframe {
    //     font-size: 16px;

    //     .appointment-item-for-patient-label {
    //         width: 215px;
    //         height: auto;
    //         color: #49bce2;
    //     }

    //     .appointment-item-for-patient-content {
    //         width: fit-content;
    //         height: auto;
    //     }
    // }
}
