.appointment-item-for-patient-interface {
    height: auto;
    width: 100%;
    border: 2px solid #b5daff;
    border-radius: 5px;
    margin: 10px 0 15px 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    transition: transform 0.25s ease-out, box-shadow 0.25s ease-out;
    padding: 30px 20px 30px 20px;

    &:hover {
        transform: translateX(5px); /* dịch sang phải 5px */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .doctor-profile-lite-container {
        width: 150px;
        margin: 0 25px 0 5px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // text-align: center;
        gap: 7px;

        // .doctor-info-lite {
        //     width: auto;
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     justify-content: center;
        //     gap: 5px;
        // }

        .doctor-avatar-section {
            position: relative;
            height: 80px;
            aspect-ratio: 1 / 1;
            border: 2px solid #cccccc;
            border-radius: 20px;
            background-size: 105% 105%;
            background-position: center;
            background-repeat: no-repeat;
        }

        .doctor-info-lite {
            .doctor-name {
                margin-top: 10px;
                font-size: 14px;
                font-weight: 550;
            }

            .doctor-specialty {
                display: flex;
                gap: 3px;
                align-items: center;
                margin-top: 5px;
                font-size: 13px;
                color: #49bce2;
            }
        }
    }

    .appointment-details-section {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        gap: 5px;
        width: 800px;

        .appointment-id {
            .appointment-item-for-patient-label {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #49bce2;
                margin-right: 10px;
                gap: 5px;
            }
            display: flex;
            flex-direction: row;
        }

        .doctor-phone-number {
            .appointment-item-for-patient-label {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #49bce2;
                margin-right: 10px;
                gap: 5px;
            }
            display: flex;
            flex-direction: row;
        }
        .doctor-email {
            .appointment-item-for-patient-label {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #49bce2;
                margin-right: 10px;
                gap: 5px;
            }
            display: flex;
            flex-direction: row;
        }

        .doctor-location {
            .appointment-item-for-patient-label {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #49bce2;
                margin-right: 10px;
                gap: 5px;
            }
            display: flex;
            flex-direction: row;
        }

        .sublocation {
            margin-left: 50px;
            font-size: 13px;
            color: #8f8f8f;
        }

        .done-button-container-for-doctor {
            display: flex;
            gap: 12px; /* khoảng cách giữa các div con */
            width: fit-content;
            align-items: center;
            margin: 10px 0;

            $aqua: #7dbcfc;
            $green: #50e386;
            $gray: #bbbbbb;
            $red: rgb(255, 97, 97);

            .button-wrapper-2 {
                width: 170px;
                display: flex;
                justify-content: center;
                .paid-button {
                    padding: 0 10px;
                    outline: none;
                    height: 30px;
                    text-align: center;
                    width: 100%;
                    border-radius: 5px;
                    background: #fff;
                    border: 2px solid $red;
                    color: $red;
                    letter-spacing: 1px;
                    font-size: 12px;
                    cursor: pointer;
                    transition: all 0.25s ease;

                    &:hover {
                        color: white;
                        background: $red;
                    }

                    &:active {
                        letter-spacing: 2px;
                        border-radius: 30px;
                    }
                    &::before {
                        font-family: "Font Awesome 5 Free";
                        content: "\f06a";
                        font-weight: 900;
                        font-size: 13px;
                        margin-right: 5px;
                    }
                    &:after {
                        content: "Chưa thanh toán";
                    }

                    &.onclic {
                        width: 30px;
                        border-color: $gray;
                        border-width: 3px;
                        border-radius: 30px;
                        font-size: 0;
                        border-left-color: $aqua;
                        animation: rotating 2s 0.25s linear infinite; // ⚙ chạy xoay vô hạn khi đang loading

                        &:after {
                            content: "";
                        }

                        &:hover {
                            border-radius: 30px;
                            color: $green;
                            background: white;
                        }
                    }

                    &.validate {
                        border-radius: 30px;
                        border-color: $green;
                        font-size: 13px;
                        color: white;
                        background: $green;
                        &::before {
                            font-family: "Font Awesome 5 Free";
                            content: "\f058";
                            font-weight: 900;
                            font-size: 13px;
                            margin-right: 5px;
                        }
                        &:after {
                            content: "Đã thanh toán";
                        }
                    }
                }
            }
            .button-wrapper-1 {
                width: 215px;
                display: flex;
                justify-content: center;
                .done-button {
                    padding: 0 10px;
                    outline: none;
                    height: 30px;
                    text-align: center;
                    width: 100%;
                    border-radius: 5px;
                    background: #fff;
                    border: 2px solid $aqua;
                    color: $aqua;
                    letter-spacing: 1px;
                    font-size: 12px;
                    cursor: pointer;
                    transition: all 0.25s ease;
                    &:hover {
                        color: white;
                        background: $aqua;
                    }

                    &:active {
                        letter-spacing: 2px;
                        border-radius: 30px;
                    }
                    &::before {
                        font-family: "Font Awesome 5 Free";
                        content: "\f0e0";
                        font-weight: 900;
                        font-size: 13px;
                        margin-right: 5px;
                    }
                    &:after {
                        content: "Chưa xác nhận đặt lịch";
                    }

                    &.onclic {
                        width: 30px;
                        border-color: $gray;
                        border-width: 3px;
                        border-radius: 30px;
                        font-size: 0;
                        border-left-color: $aqua;
                        animation: rotating 2s 0.25s linear infinite; // ⚙ chạy xoay vô hạn khi đang loading

                        &:after {
                            content: "";
                        }

                        &:hover {
                            border-radius: 30px;
                            color: $green;
                            background: white;
                        }
                    }

                    &.validate {
                        border-radius: 30px;
                        border-color: $aqua;
                        font-size: 13px;
                        color: white;
                        background: $aqua;

                        &::before {
                            font-family: "Font Awesome 5 Free";
                            content: "\f46d";
                            font-weight: 900;
                            font-size: 13px;
                            margin-right: 5px;
                        }

                        &:after {
                            content: "Chờ khám";
                        }
                    }
                    &.finish {
                        border-radius: 30px;
                        border-color: $green;
                        background: $green;
                        color: white;
                        font-size: 13px;

                        &::before {
                            font-family: "Font Awesome 5 Free";
                            content: "\f058"; // icon check-circle
                            font-weight: 900;
                            font-size: 13px;
                            margin-right: 5px;
                        }

                        &:after {
                            content: "Đã khám";
                        }
                    }
                }
            }

            @keyframes rotating {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }
        }

        .medical-report {
            display: flex;
            flex-direction: row;
            .appointment-item-for-patient-label {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #49bce2;
                margin-right: 10px;
                gap: 5px;
            }
            .medical-report-available {
                .file-icon {
                    font-size: 20px;
                    color: #2cb9ff;
                    margin-right: 5px;
                }
                cursor: pointer;
                transition: all 0.25s;
            }
            .medical-report-available:hover {
                color: #2cb9ff;
            }
            .medical-report-unavailable {
                color: #8f8f8f;
            }
        }
    }
    .appointment-time {
        display: flex;
        gap: 3px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #288cbb;
        border-radius: 8px;
        height: 70px;
        aspect-ratio: 2 / 1;
        background: linear-gradient(135deg, #edf8ff 0%, #d4e3f9 100%);
        .appointment-date {
            display: flex;
            gap: 3px;
        }
        .appointment-timeframe {
            display: flex;
            gap: 3px;
        }
    }
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-container {
    width: 1000px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    animation: fadeIn 0.2s ease;
}

.modal-header {
    padding: 12px 20px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.close-btn {
    cursor: pointer;
    font-size: 24px;
}

.modal-body {
    padding: 20px;
    max-height: 60vh;
    overflow-y: auto;
    // overflow-x: hidden;
}

.report-content {
    white-space: pre-wrap; // << TỰ ĐỘNG XUỐNG DÒNG
    word-break: break-word; // << BẮT BUỘC NGẮT DÒNG KHI QUÁ DÀI
    margin: 0; // << XÓA KHOẢNG TRỐNG MẶC ĐỊNH
    padding: 0;
}

.modal-footer {
    padding: 12px;
    text-align: right;
}

.close-button {
    background: #4a90e2;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
}
