.appointment-item-for-patient-interface {
  height: fit-content;
  width: 100%;
  border: 1px solid #b5daff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 15px 0;

  .appointment-id {
    font-size: 16px;

    .appointment-item-for-patient-label {
      width: 215px;
      height: auto;
      color: #49bce2;
    }

    .appointment-item-for-patient-content {
      width: fit-content;
      height: auto;
    }
  }

  .doctor-name {
    font-size: 16px;

    .appointment-item-for-patient-label {
      width: 215px;
      height: auto;
      color: #49bce2;
    }

    .appointment-item-for-patient-content {
      width: fit-content;
      height: auto;
    }
  }

  .doctor-phone-number {
    font-size: 16px;

    .appointment-item-for-patient-label {
      width: 215px;
      height: auto;
      color: #49bce2;
    }

    .appointment-item-for-patient-content {
      width: fit-content;
      height: auto;
    }
  }

  .doctor-email {
    font-size: 16px;

    .appointment-item-for-patient-label {
      width: 215px;
      height: auto;
      color: #49bce2;
    }

    .appointment-item-for-patient-content {
      width: fit-content;
      height: auto;
    }
  }

  .doctor-specialty {
    font-size: 16px;

    .appointment-item-for-patient-label {
      width: 215px;
      height: auto;
      color: #49bce2;
    }

    .appointment-item-for-patient-content {
      width: fit-content;
      height: auto;
    }
  }

  .appointment-date {
    font-size: 16px;

    .appointment-item-for-patient-label {
      width: 215px;
      height: auto;
      color: #49bce2;
    }

    .appointment-item-for-patient-content {
      width: fit-content;
      height: auto;
    }
  }

  .appointment-timeframe {
    font-size: 16px;

    .appointment-item-for-patient-label {
      width: 215px;
      height: auto;
      color: #49bce2;
    }

    .appointment-item-for-patient-content {
      width: fit-content;
      height: auto;
    }
  }
}
