.doctor-appointment-history-container {
    .doctor-appointment-history-item {
        padding: 10px 20px;
        margin: 10px 0 15px 0;
        border: 2px solid rgb(181, 181, 181);
        border-radius: 5px;
        transition: border 0.3s;

        .doctor-appointment-history-item-id {
            .doctor-appointment-history-label {
                width: 150px;
                height: auto;
            }

            .doctor-appointment-history-content {
                width: fit-content;
                height: auto;
                color: rgb(130, 130, 130);
            }
        }

        .doctor-appointment-history-item-patient-email {
            .doctor-appointment-history-label {
                width: 150px;
                height: auto;
            }

            .doctor-appointment-history-content {
                width: fit-content;
                height: auto;
                color: rgb(130, 130, 130);
            }
        }

        .doctor-appointment-history-item-date {
            .doctor-appointment-history-label {
                width: 150px;
                height: auto;
            }

            .doctor-appointment-history-content {
                width: fit-content;
                height: auto;
                color: rgb(130, 130, 130);
            }
        }

        .doctor-appointment-history-item-timeframe {
            .doctor-appointment-history-label {
                width: 150px;
                height: auto;
            }

            .doctor-appointment-history-content {
                width: fit-content;
                height: auto;
                color: rgb(130, 130, 130);
            }
        }

        .doctor-appointment-history-item-medical-report {
            .doctor-appointment-history-label {
                width: 150px;
                height: auto;
            }
            .file-icon {
                font-size: 20px;
                color: #2cb9ff;
                margin-right: 5px;
            }
            cursor: pointer;
            transition: all 0.25s;
        }
    }

    // .doctor-appointment-history-item:hover {
    //     border-right: 8px solid rgb(181, 181, 181);
    // }
    .modal-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99999;
    }

    .modal-container {
        width: 830px;
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        animation: fadeIn 0.2s ease;
    }

    .modal-header {
        padding: 18px 24px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f5f5f5;
        border-radius: 12px 12px 0 0;
    }

    .close-btn {
        cursor: pointer;
        font-size: 24px;
    }

    .modal-body {
        padding: 20px;
        max-height: 60vh;
        overflow-y: auto;
        // overflow-x: hidden;
    }

    .report-content {
        // white-space: pre-wrap; // << TỰ ĐỘNG XUỐNG DÒNG
        word-break: break-word; // << BẮT BUỘC NGẮT DÒNG KHI QUÁ DÀI
        margin: 0; // << XÓA KHOẢNG TRỐNG MẶC ĐỊNH
        padding: 0;
        // letter-spacing: 2px;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .modal-footer {
        padding: 12px;
        text-align: right;
    }

    .close-button {
        background: #4a90e2;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 6px;
    }
}

.patient-appointment-history-container {
    .patient-appointment-history-item-list-container {
        display: flex;
        padding: 10px 20px;
        margin: 10px 0 15px 0;
        border: 2px solid rgb(181, 181, 181);
        border-radius: 5px;
        transition: border 0.3s;
        justify-content: space-between;
        // align-items: center;
        .patient-appointment-history-item {
            .patient-appointment-history-item-label {
                width: 150px;
            }
            .patient-appointment-history-item-id {
                .patient-appointment-history-label {
                    width: 200px;
                    height: auto;
                }

                .patient-appointment-history-content {
                    width: fit-content;
                    height: auto;
                    color: rgb(130, 130, 130);
                }
            }

            .patient-appointment-history-item-patient-email {
                .patient-appointment-history-label {
                    width: 200px;
                    height: auto;
                }

                .patient-appointment-history-content {
                    width: fit-content;
                    height: auto;
                    color: rgb(130, 130, 130);
                }
            }

            .patient-appointment-history-item-date {
                .patient-appointment-history-label {
                    width: 200px;
                    height: auto;
                }

                .patient-appointment-history-content {
                    width: fit-content;
                    height: auto;
                    color: rgb(130, 130, 130);
                }
            }

            .patient-appointment-history-item-timeframe {
                .patient-appointment-history-label {
                    width: 200px;
                    height: auto;
                }

                .patient-appointment-history-content {
                    width: fit-content;
                    height: auto;
                    color: rgb(130, 130, 130);
                }
            }
        }

        .review-and-rate {
            $primary: #0d6efd;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .review-summary {
                font-size: 12px;
                color: #9aa3b1;
                .rating-text {
                    color: #ffad60;
                    font-size: 18px;
                }
            }

            .review-and-comment-button {
                margin-left: 20px;
                display: inline-flex;
                align-items: center;
                width: 100px;
                gap: 6px;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #fff;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                background-color: $primary;
                border: 1px solid $primary;
                border-radius: 0.375rem;
                transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

                &:hover {
                    background-color: darken($primary, 7%);
                    border-color: darken($primary, 10%);
                }

                &:active {
                    background-color: darken($primary, 10%);
                    border-color: darken($primary, 12%);
                }

                &:focus {
                    outline: 0;
                    box-shadow: 0 0 0 0.25rem rgba($primary, 0.5);
                }
            }
        }
        .custom-modal-overlay {
            width: 50%;
            .custom-modal {
                .custom-modal-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .rating {
                        display: flex;
                        .feedback {
                            --normal: #656473;
                            --normal-shadow: #575768;
                            --normal-shadow-top: #757582;
                            --normal-mouth: #2e2e3d;
                            --normal-eye: #282734;
                            --active: #f8da69;
                            --active-shadow: #f4b555;
                            --active-shadow-top: #fff6d3;
                            --active-mouth: #f05136;
                            --active-eye: #313036;
                            --active-tear: #76b5e7;
                            --active-shadow-angry: #e94f1d;
                            --hover: #454456;
                            --hover-shadow-top: #59586b;
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            display: flex;
                            label {
                                position: relative;
                                transition: transform 0.3s;
                                cursor: pointer;
                                &:not(:last-child) {
                                    margin-right: 20px;
                                }
                                input {
                                    appearance: none;
                                    outline: none;
                                    border: none;
                                    display: block;
                                    position: absolute;
                                    width: 40px;
                                    height: 40px;
                                    left: 0;
                                    top: 0;
                                    margin: 0;
                                    padding: 0;
                                    border-radius: 50%;
                                    background: var(--sb, var(--normal));
                                    box-shadow: inset 3px -3px 4px var(--sh, var(--normal-shadow)), inset -1px 1px 2px var(--sht, var(--normal-shadow-top));
                                    transition: background 0.4s, box-shadow 0.4s, transform 0.3s;
                                    -webkit-tap-highlight-color: transparent;
                                }
                                div {
                                    width: 40px;
                                    height: 40px;
                                    position: relative;
                                    transform: perspective(240px) translateZ(4px);
                                    svg,
                                    &:before,
                                    &:after {
                                        display: block;
                                        position: absolute;
                                        left: var(--l, 9px);
                                        top: var(--t, 13px);
                                        width: var(--w, 8px);
                                        height: var(--h, 1px);
                                        transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
                                    }
                                    svg {
                                        fill: none;
                                        stroke: var(--s);
                                        stroke-width: 1.5px;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                        transition: stroke 0.4s;
                                        &.eye {
                                            --s: var(--e, var(--normal-eye));
                                            --t: 17px;
                                            --w: 7px;
                                            --h: 4px;
                                            &.right {
                                                --l: 23px;
                                            }
                                        }
                                        &.mouth {
                                            --s: var(--m, var(--normal-mouth));
                                            --l: 11px;
                                            --t: 23px;
                                            --w: 18px;
                                            --h: 7px;
                                        }
                                    }
                                    &:before,
                                    &:after {
                                        content: "";
                                        z-index: var(--zi, 1);
                                        border-radius: var(--br, 1px);
                                        background: var(--b, var(--e, var(--normal-eye)));
                                        transition: background 0.4s;
                                    }
                                }
                                &.angry {
                                    --step-1-rx: -24deg;
                                    --step-1-ry: 20deg;
                                    --step-2-rx: -24deg;
                                    --step-2-ry: -20deg;
                                    div {
                                        &:before {
                                            --r: 20deg;
                                        }
                                        &:after {
                                            --l: 23px;
                                            --r: -20deg;
                                        }
                                        svg {
                                            &.eye {
                                                stroke-dasharray: 4.55;
                                                stroke-dashoffset: 8.15;
                                            }
                                        }
                                    }
                                    input {
                                        &:checked {
                                            animation: angry 1s linear;
                                            & + div {
                                                &:before {
                                                    --middle-y: -2px;
                                                    --middle-r: 22deg;
                                                    animation: toggle 0.8s linear forwards;
                                                }
                                                &:after {
                                                    --middle-y: 1px;
                                                    --middle-r: -18deg;
                                                    animation: toggle 0.8s linear forwards;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.sad {
                                    --step-1-rx: 20deg;
                                    --step-1-ry: -12deg;
                                    --step-2-rx: -18deg;
                                    --step-2-ry: 14deg;
                                    div {
                                        &:before,
                                        &:after {
                                            --b: var(--active-tear);
                                            --sc: 0;
                                            --w: 5px;
                                            --h: 5px;
                                            --t: 15px;
                                            --br: 50%;
                                        }
                                        &:after {
                                            --l: 25px;
                                        }
                                        svg {
                                            &.eye {
                                                --t: 16px;
                                            }
                                            &.mouth {
                                                --t: 24px;
                                                stroke-dasharray: 9.5;
                                                stroke-dashoffset: 33.25;
                                            }
                                        }
                                    }
                                    input {
                                        &:checked {
                                            & + div {
                                                &:before,
                                                &:after {
                                                    animation: tear 0.6s linear forwards;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.ok {
                                    --step-1-rx: 4deg;
                                    --step-1-ry: -22deg;
                                    --step-1-rz: 6deg;
                                    --step-2-rx: 4deg;
                                    --step-2-ry: 22deg;
                                    --step-2-rz: -6deg;
                                    div {
                                        &:before {
                                            --l: 12px;
                                            --t: 17px;
                                            --h: 4px;
                                            --w: 4px;
                                            --br: 50%;
                                            box-shadow: 12px 0 0 var(--e, var(--normal-eye));
                                        }
                                        &:after {
                                            --l: 13px;
                                            --t: 26px;
                                            --w: 14px;
                                            --h: 2px;
                                            --br: 1px;
                                            --b: var(--m, var(--normal-mouth));
                                        }
                                    }
                                    input {
                                        &:checked {
                                            & + div {
                                                &:before {
                                                    --middle-s-y: 0.35;
                                                    animation: toggle 0.2s linear forwards;
                                                }
                                                &:after {
                                                    --middle-s-x: 0.5;
                                                    animation: toggle 0.7s linear forwards;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.good {
                                    --step-1-rx: -14deg;
                                    --step-1-rz: 10deg;
                                    --step-2-rx: 10deg;
                                    --step-2-rz: -8deg;
                                    div {
                                        &:before {
                                            --b: var(--m, var(--normal-mouth));
                                            --w: 5px;
                                            --h: 5px;
                                            --br: 50%;
                                            --t: 22px;
                                            --zi: 0;
                                            opacity: 0.5;
                                            box-shadow: 16px 0 0 var(--b);
                                            filter: blur(2px);
                                        }
                                        &:after {
                                            --sc: 0;
                                        }
                                        svg {
                                            &.eye {
                                                --t: 15px;
                                                --sc: -1;
                                                stroke-dasharray: 4.55;
                                                stroke-dashoffset: 8.15;
                                            }
                                            &.mouth {
                                                --t: 22px;
                                                --sc: -1;
                                                stroke-dasharray: 13.3;
                                                stroke-dashoffset: 23.75;
                                            }
                                        }
                                    }
                                    input {
                                        &:checked {
                                            & + div {
                                                svg {
                                                    &.mouth {
                                                        --middle-y: 1px;
                                                        --middle-s: -1;
                                                        animation: toggle 0.8s linear forwards;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.happy {
                                    div {
                                        --step-1-rx: 18deg;
                                        --step-1-ry: 24deg;
                                        --step-2-rx: 18deg;
                                        --step-2-ry: -24deg;
                                        &:before {
                                            --sc: 0;
                                        }
                                        &:after {
                                            --b: var(--m, var(--normal-mouth));
                                            --l: 11px;
                                            --t: 23px;
                                            --w: 18px;
                                            --h: 8px;
                                            --br: 0 0 8px 8px;
                                        }
                                        svg {
                                            &.eye {
                                                --t: 14px;
                                                --sc: -1;
                                            }
                                        }
                                    }
                                    input {
                                        &:checked {
                                            & + div {
                                                &:after {
                                                    --middle-s-x: 0.95;
                                                    --middle-s-y: 0.75;
                                                    animation: toggle 0.8s linear forwards;
                                                }
                                            }
                                        }
                                    }
                                }
                                input {
                                    &:checked {
                                        --sb: var(--active);
                                        --sh: var(--active-shadow);
                                        --sht: var(--active-shadow-top);
                                        & + div {
                                            --m: var(--active-mouth);
                                            --e: var(--active-eye);
                                            animation: shake 0.8s linear forwards;
                                        }
                                    }
                                    &:not(:checked) {
                                        &:hover {
                                            --sb: var(--hover);
                                            --sht: var(--hover-shadow-top);
                                        }
                                        &:active {
                                            transform: scale(0.925);
                                            & + div {
                                                transform: scale(0.925);
                                            }
                                        }
                                    }
                                }
                                &:hover {
                                    transform: scale(1.08);
                                }
                            }
                        }

                        @keyframes shake {
                            30% {
                                transform: perspective(240px) rotateX(var(--step-1-rx, 0deg)) rotateY(var(--step-1-ry, 0deg)) rotateZ(var(--step-1-rz, 0deg)) translateZ(10px);
                            }
                            60% {
                                transform: perspective(240px) rotateX(var(--step-2-rx, 0deg)) rotateY(var(--step-2-ry, 0deg)) rotateZ(var(--step-2-rz, 0deg)) translateZ(10px);
                            }
                            100% {
                                transform: perspective(240px) translateZ(4px);
                            }
                        }

                        @keyframes tear {
                            0% {
                                opacity: 0;
                                transform: translateY(-2px) scale(0) translateZ(0);
                            }
                            50% {
                                transform: translateY(12px) scale(0.6, 1.2) translateZ(0);
                            }
                            20%,
                            80% {
                                opacity: 1;
                            }
                            100% {
                                opacity: 0;
                                transform: translateY(24px) translateX(4px) rotateZ(-30deg) scale(0.7, 1.1) translateZ(0);
                            }
                        }

                        @keyframes toggle {
                            50% {
                                transform: translateY(var(--middle-y, 0)) scale(var(--middle-s-x, var(--middle-s, 1)), var(--middle-s-y, var(--middle-s, 1))) rotate(var(--middle-r, 0deg));
                            }
                        }

                        @keyframes angry {
                            40% {
                                background: var(--active);
                            }
                            45% {
                                box-shadow: inset 3px -3px 4px var(--active-shadow), inset 0 8px 10px var(--active-shadow-angry);
                            }
                        }
                    }

                    .review-content {
                        display: flex;
                        flex-direction: column;
                        margin: 1rem 0 1rem 0;
                        width: 100%;

                        label {
                            margin-bottom: 0.5rem;
                            font-weight: 600;
                            color: #5a5a5a;
                            font-size: 16px;
                        }

                        textarea {
                            resize: none; // chặn resize bằng tay (nếu muốn cho resize thì bỏ dòng này)
                            min-height: 80px;
                            padding: 8px 12px;
                            font-size: 14px;
                            line-height: 1.5;
                            border: 1px solid #ccc;
                            border-radius: 6px;
                            transition: border-color 0.2s;

                            &:focus {
                                border-color: #7e7e7e;
                                outline: none;
                            }

                            &::-webkit-scrollbar {
                                width: 6px; // làm mỏng
                            }

                            &::-webkit-scrollbar-track {
                                background: transparent; // trong suốt
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: rgba(0, 0, 0, 0.2); // thanh cuộn mờ mờ
                                border-radius: 4px;
                            }

                            &::-webkit-scrollbar-thumb:hover {
                                background-color: rgba(0, 0, 0, 0.35); // hover đậm hơn
                            }
                        }
                    }

                    .image-upload {
                        width: 100%;

                        label {
                            display: block;
                            margin-bottom: 8px;
                            font-weight: 600;
                        }

                        .image-preview-container {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr); // 4 cột đều nhau
                            gap: 10px; // khoảng cách giữa các ô

                            .image-upload-box,
                            .image-preview {
                                width: 100%;
                                aspect-ratio: 1 / 1; // luôn vuông
                                border-radius: 8px;
                            }

                            .image-upload-box {
                                border: 2px dashed #ccc;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                transition: all 0.2s ease;

                                i {
                                    font-size: 24px;
                                    color: #777;
                                }

                                &:hover {
                                    border-color: #888;
                                    background: #f9f9f9;
                                }
                            }

                            .image-preview {
                                position: relative;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    display: block;
                                }

                                .remove-btn {
                                    position: absolute;
                                    top: 4px;
                                    right: 4px;
                                    background: rgba(0, 0, 0, 0.6);
                                    color: #fff;
                                    border: none;
                                    border-radius: 50%;
                                    width: 20px;
                                    height: 20px;
                                    font-size: 14px;
                                    cursor: pointer;
                                    line-height: 18px;
                                    padding: 0;

                                    &:hover {
                                        background: rgba(255, 0, 0, 0.7);
                                    }
                                }
                            }
                        }
                    }
                }

                .custom-modal-footer {
                    display: flex;
                    justify-content: flex-end;
                    padding: 1rem;
                    border-top: 1px solid #dee2e6;
                    background-color: #f8f9fa;

                    .submit-btn,
                    .cancel-btn {
                        padding: 0.375rem 0.75rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        border-radius: 0.25rem;
                        border: 1px solid transparent;
                        cursor: pointer;
                        transition: all 0.15s ease-in-out;
                        margin-left: 0.5rem;
                    }

                    .submit-btn {
                        color: #fff;
                        background-color: #0d6efd;
                        border-color: #0d6efd;

                        &:hover {
                            background-color: #0b5ed7;
                            border-color: #0a58ca;
                        }
                    }

                    .cancel-btn {
                        color: red;
                        background-color: #fff;
                        border-color: red;

                        &:hover {
                            background-color: red;
                            color: white;
                        }
                    }
                }
            }
        }
        .medical-report {
            span {
                .file-icon {
                    font-size: 20px;
                    color: #2cb9ff;
                    margin-right: 5px;
                }
                cursor: pointer;
                transition: all 0.25s;
            }
            span:hover {
                color: #2cb9ff;
            }
        }
    }
    .modal-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99999;
    }

    .modal-container {
        width: 830px;
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        animation: fadeIn 0.2s ease;
    }

    .modal-header {
        padding: 18px 24px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f5f5f5;
        border-radius: 12px 12px 0 0;
    }

    .close-btn {
        cursor: pointer;
        font-size: 24px;
    }

    .modal-body {
        padding: 20px;
        max-height: 60vh;
        overflow-y: auto;
        // overflow-x: hidden;
    }

    .report-content {
        // white-space: pre-wrap; // << TỰ ĐỘNG XUỐNG DÒNG
        word-break: break-word; // << BẮT BUỘC NGẮT DÒNG KHI QUÁ DÀI
        margin: 0; // << XÓA KHOẢNG TRỐNG MẶC ĐỊNH
        padding: 0;
        // letter-spacing: 2px;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .modal-footer {
        padding: 12px;
        text-align: right;
    }

    .close-button {
        background: #4a90e2;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 6px;
    }
}
