.specialty-article-container {
    padding: 60px 0 60px 0;

    .specialty-description {
        height: fit-content;
        padding: 0 85px 0 85px;
        width: 100%;

        .specialty-name {
            font-size: 30px;
            color: #0fbcf6;
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
        }

        .details {
            .specialty-html {
                height: 100%;
                width: 100%;
            }

            p,
            strong {
                font-size: 20px;
                color: #0fbcf6;
            }

            li {
                font-size: 17px;
            }
        }
    }

    .background-image-css {
        background-size: contain;
        height: auto;
        width: auto;
        background-position: center;
        border-radius: 15px;
        background-repeat: no-repeat;
    }

    .doctors-of-this-specialty-title {
        padding: 7px 85px 7px 85px;
        margin: 30px 0;
        width: 100%;
        color: white;
        font-size: 20px;
        background-color: #0fbcf6;
        font-weight: 600;
        display: flex;
        justify-content: space-between;

        .select-province-where-doctor-live {
            select {
                border: 3px solid #0fbcf6;
                width: 180px;
                color: #0fbcf6;
                border-radius: 7px;
                font-size: 19px;
            }

            select:focus {
                outline: none; //bỏ đi viền đen đen trong viền của select mỗi khi double click vào <input>
                border: 3px solid rgb(79, 166, 253);
            }
        }
    }

    .doctors-of-this-specialty-container {
        width: 100%;
        min-height: 250px;

        .doctors-of-this-specialty {
            width: 100%;
            // padding: 0 85px 0 85px;
            background-color: rgb(248, 253, 255);
        }

        .apologize {
            display: flex;
            justify-content: center;
            /* Căn giữa theo chiều ngang */
            align-items: center;
            /* Căn giữa theo chiều dọc */
            padding: 0px 85px 20px 85px;
            flex-direction: column;
            font-size: 20px;

            .apologize-image {
                background-image: url("../../../assets/images/doctor_apologize.jpeg");
                background-size: 80% 105%;
                height: 200px;
                width: 400px;
                background-position: center;
                border-radius: 15px;
                background-repeat: no-repeat;
            }
        }

        .spinner-container {
            margin-left: 85px;
        }
    }
}

@media (max-width: 430px) {
    .specialty-article-container {
        padding: 30px 0 30px 0;

        .specialty-description {
            padding: 0 30px 0 30px;
        }

        .doctors-of-this-specialty-title {
            padding: 7px 20px 7px 30px;
            font-size: 17px;
            align-items: center;

            .select-province-where-doctor-live select {
                font-size: 17px;
                width: 175px;
                height: 30px;
            }
        }

        .doctors-of-this-specialty-container {
            .apologize {
                padding: 0px 70px 20px 90px;
            }
        }
    }
}
