.medical-facility-manage-container {
    padding         : 15px;
    background-color: #f8f9fa;

    .information-container {
        margin-bottom: 20px;
    }

    .image-preview-section {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        margin-top    : 0px;

        .image-preview-container {
            width    : 100%;
            max-width: 300px;
            position : relative;

            .image-frame {
                border         : 2px solid #9e9d9e;
                height         : 180px;
                aspect-ratio   : 1.5 / 1;
                margin         : 0 auto;
                border-radius  : 10px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                position       : relative;
                // transition     : all 0.3s ease;

                .switch-to-button-change-image {
                    font-size : 35px;
                    color     : black;
                    transition: transform 0.3s ease-in-out;
                    cursor    : pointer;
                    position : absolute;
                    top      : 70%;
                    left     : 80%;
                }

                .choose-avatar-button {
                    font-size : 35px;
                    color     : black;
                    transition: transform 0.3s ease-in-out;
                    cursor    : pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .avatar-css {
                background-size    :contain;
                height             : 180px;
                aspect-ratio       : 1.5 / 1;
                background-position: center;
                background-repeat  : no-repeat;
            }
        }
    }

    .facility-manage-page-title {
        font-size    : 16px;
        margin: 0px 0 10px 0;
        font-weight  : 600;
        color        : #333;
    }

    .editor-lite-for-medical-facility-description,
    .editor-lite-for-medical-facility-equipments {
        margin      : 10px 0 20px 0;
        border          : 1px solid #ddd;
        border-radius   : 5px;
        padding         : 10px;
        background-color: #fff;
    }
}