@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 30px;
    position: relative;

    .btn-logout {
        color: $common-text-color;
        line-height: 20px;
        height: 30px;
        padding: 0 5px;
        display: flex;
        justify-content: center;
        /* Căn giữa theo chiều ngang (nếu cần) */
        align-items: center;
        /* Căn giữa theo chiều dọc */

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }
}