html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    // overflow-y: auto;
}

// body::-webkit-scrollbar {
//     width: 8px;
//     /* Độ rộng thanh cuộn */
// }

// body::-webkit-scrollbar-thumb {
//     background-color: rgba(0, 0, 0, 0.5);
//     /* Màu thanh cuộn */
//     border-radius: 10px;
//     /* Bo tròn các góc */
// }

// body::-webkit-scrollbar-track {
//     background-color: rgba(255, 255, 255, 0.3);
//     /* Nền của thanh cuộn */
// }


.home-header-container {

    height: 70px;
    // border: 1px solid red;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 4999;

    .home-header-contents {
        width: 100%;
        height: 100%;
        display: flex;

        .left-contents {
            width: 20%;
            display: flex;
            justify-content: center;
            /* Căn giữa theo chiều ngang */
            align-items: center;
            padding: 0 20px;
            gap: 20px;

            .fas.fa-bars {
                font-size: 25px;
                // margin-left: 50px;
                padding-top: 8px;
                padding-bottom: 6px;
                padding-left: 8px;
                padding-right: 8px;
                cursor: pointer;
                color: rgb(132, 132, 132);
                border: 2px solid white;
                border-radius: 15px;
                transition: background-color 0.3s, color 0.3s, border 0.3s;
            }

            .fas.fa-bars:hover {
                border: 2px solid #49BCE2;
                border-radius: 15px;
                color: #49BCE2;
            }

            .header-logo {
                background: url('../../../assets/header-logo (2).png');
                width: 70%;
                height: 81%;
                background-size: contain;
                margin-left: 59px;
                /* Or contain, or specific dimensions */
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }

        .center-contents {
            background-color: #dff3ff;
            border-bottom-left-radius: 30px;
            width: 60%;
            display: flex;
            justify-content: center;
            /* Căn giữa theo chiều ngang */
            align-items: center;
            gap: 20px;

            .child-content {
                .header-option-title {

                    font-size: 17px;

                    a {
                        text-decoration: none;
                        padding-bottom: 2px;
                        color: #49BCE2;
                        transition: background-color 0.3s, color 0.3s, border 0.3s;
                        border-bottom: 2.5px solid #dff3ff;
                        border-left: none;
                    }

                    a:hover {
                        border-bottom: 2.5px solid #49BCE2;
                    }
                }

                .header-option-detail {
                    margin-top: 2px;
                    font-size: 13px;
                }
            }
        }

        .right-contents {
            border-left-width: 60%;
            background-color: #dff3ff;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            .header-right-section-title {
                color: #49BCE2;
            }

            .header-booking-section {
                padding-top: 13px;
                width: 70px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-bottom: 3px solid #dff3ff;
                transition: color 0.3s, border 0.3s;

                .title-1 {
                    transition: opacity 0.3s
                }

                .far.fa-clock {
                    color: #49BCE2;
                    font-size: 20px;
                    transition: font-size 0.3s ease, transform 0.3s ease;
                }
            }

            .header-booking-section:hover {
                // background-color: white;
                border-bottom: 3px solid #49BCE2;

                .far.fa-clock {
                    color: #49BCE2;
                    font-size: 30px;
                    transform: translateY(8px);
                }

                .title-1 {
                    opacity: 0;
                }
            }

            .header-support-section {
                padding-top: 13px;
                width: 70px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-bottom: 3px solid #dff3ff;
                transition: color 0.3s, border 0.3s;

                .title-2 {
                    transition: opacity 0.3s
                }

                .far.fa-question-circle {
                    color: #49BCE2;
                    font-size: 20px;
                    transition: font-size 0.3s ease, transform 0.3s ease;
                }
            }

            .header-support-section:hover {
                // background-color: white;
                border-bottom: 3px solid #49BCE2;

                .far.fa-question-circle {
                    color: #49BCE2;
                    font-size: 30px;
                    transform: translateY(8px);
                }

                .title-2 {
                    opacity: 0;
                }
            }

            .header-user-account-section {
                padding-top: 13px;
                width: 70px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-bottom: 3px solid #dff3ff;
                transition: color 0.3s, border 0.3s;

                .title-3 {
                    transition: opacity 0.3s;
                    color: #50b8db;
                }

                .far.fa-user {
                    font-size: 20px;
                    color: #50b8db;
                    transition: font-size 0.3s ease, transform 0.3s ease;
                }
            }

            .header-user-account-section:hover {
                // background-color: white;
                border-bottom: 3px solid #50b8db;

                .far.fa-user {
                    color: #1a5fdf;
                    font-size: 30px;
                    transform: translateY(8px);
                }

                .title-3 {
                    opacity: 0;
                }
            }

            .header-user-language-option {
                // padding-top: 13px;
                padding-left: 10px;
                width: 50px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-bottom: 3px solid #dff3ff;
                cursor: pointer;

                .header-user-nation-icon {
                    background: url('../../../assets/homePageIcon/vietnam.png');
                    background-size: 120% 160%;
                    height: 18.75px;
                    width: 25px;
                    /* Or contain, or specific dimensions */
                    border: 1px solid black;
                    background-position: center;
                    background-repeat: no-repeat;

                    &.active {
                        background: url('../../../assets/homePageIcon/united-kingdom.png');
                        background-size: 110% 150%; //để cho vừa khít với border bên ngoài
                        height: 18.75px;
                        width: 25px;
                        /* Or contain, or specific dimensions */
                        background-position: center;
                        border: 1px solid black;
                        border-radius: 3px;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}

.menu-between-header-and-banner {
    margin-top: 60px;
    position: relative;
    height: 40px;
    width: 100%;
    display: inline-flex;
    background-color: #50b8db;
    height: 48.371px;

    * {
        box-sizing: border-box;
    }

    #home-top-navigator {
        position: relative;
        list-style: none;
        background: #50b8db;
        font-weight: 400;
        font-size: 0;
        /* text-transform: uppercase; */
        display: flex;
        padding: 0;

    }

    #home-top-navigator {
        font-size: 16px;
        display: flex;
        position: relative;
        padding: 0px 0px;
        z-index: 6;
        min-width: 120px;

        .nav-icon {
            font-size: 20px;
            margin-right: 8px;
        }

        .fontawesome-icon {
            font-size: 21px;
            display: inline-block;
            vertical-align: top;
            /* Đảm bảo hai phần tử nằm thẳng hàng theo chiều dọc */
        }
    }

    li {
        margin: 0;
        color: white;
        width: 196px;
        display: block;
        // text-align: center;
        padding: 15px 0px;
        background: #50b8db !important;
        text-align: center;
        cursor: pointer;
    }

    #marker {
        height: 6px;
        background: #4a82c2 !important;
        position: absolute;
        bottom: 0;
        width: 196px;
        z-index: 2;
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        -ms-transition: all 0.35s;
        transition: all 0.35s;
    }


    #home-top-navigator li:nth-child(1):hover ul div {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #home-top-navigator li:nth-child(1):hover~#marker {
        -webkit-transform: translate(0px, 0);
        -moz-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }

    #home-top-navigator li:nth-child(2):hover ul div {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #home-top-navigator li:nth-child(2):hover~#marker {
        -webkit-transform: translate(196px, 0);
        -moz-transform: translate(196px, 0);
        -ms-transform: translate(196px, 0);
        transform: translate(196px, 0);
    }

    #home-top-navigator li:nth-child(3):hover ul div {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #home-top-navigator li:nth-child(3):hover~#marker {
        -webkit-transform: translate(392px, 0);
        -moz-transform: translate(392px, 0);
        -ms-transform: translate(392px, 0);
        transform: translate(392px, 0);
    }

    #home-top-navigator li:nth-child(4):hover ul div {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #home-top-navigator li:nth-child(4):hover~#marker {
        -webkit-transform: translate(588px, 0);
        -moz-transform: translate(588px, 0);
        -ms-transform: translate(588px, 0);
        transform: translate(588px, 0);
    }

    #home-top-navigator li:nth-child(5):hover ul div {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #home-top-navigator li:nth-child(5):hover~#marker {
        -webkit-transform: translate(784px, 0);
        -moz-transform: translate(784px, 0);
        -ms-transform: translate(784px, 0);
        transform: translate(784px, 0);
    }

    #home-top-navigator li:nth-child(6):hover ul div {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #home-top-navigator li:nth-child(6):hover~#marker {
        -webkit-transform: translate(980px, 0);
        -moz-transform: translate(980px, 0);
        -ms-transform: translate(980px, 0);
        transform: translate(980px, 0);
    }

    #home-top-navigator li:nth-child(7):hover ul div {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #home-top-navigator li:nth-child(7):hover~#marker {
        -webkit-transform: translate(1176px, 0);
        -moz-transform: translate(1176px, 0);
        -ms-transform: translate(1176px, 0);
        transform: translate(1176px, 0);
    }

    #home-top-navigator li:nth-child(8):hover ul div {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #home-top-navigator li:nth-child(8):hover~#marker {
        -webkit-transform: translate(1372px, 0);
        -moz-transform: translate(1372px, 0);
        -ms-transform: translate(1372px, 0);
        transform: translate(1372px, 0);
    }

    #home-top-navigator li:nth-child(9):hover ul div {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #home-top-navigator li:nth-child(9):hover~#marker {
        -webkit-transform: translate(1568px, 0);
        -moz-transform: translate(1568px, 0);
        -ms-transform: translate(1568px, 0);
        transform: translate(1568px, 0);
    }
}

.home-header-banner-container {
    height: 438px;
    width: 100%;
    background-color: #dff3ff;
    display: flex;

    .search-area {
        width: 39%;

        .container {
            position: relative;
            margin: auto;
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;
            width: 485px;
            // align-items: center;
            height: 438px;

            .search-box-title {
                font-size: 45px;
                padding-left: 20px;
                padding-right: 10px;
                padding-top: 20px;
                color: #3494b5;
            }

            .search-box-content {
                font-size: 25px;
                padding-left: 20px;
                padding-right: 10px;
                padding-top: 5px;
                color: #50b8db;
            }

            .search {
                position: absolute;
                margin: auto;
                top: 50px;
                right: 0;
                bottom: 0;
                left: 0;
                width: 60px;
                height: 60px;
                background: #50b8db;
                border-radius: 50%;
                transition: all 0.5s;
                z-index: 4;
                box-shadow: 0 0 15px 0 rgba(148, 206, 252, 0.4);

                // box-shadow: 0 0 25px 0 crimson;
                &:hover {
                    cursor: pointer;
                }

                &::before {
                    content: "";
                    position: absolute;
                    margin: auto;
                    top: 22px;
                    right: 0;
                    bottom: 0;
                    left: 22px;
                    width: 15px;
                    height: 2px;
                    background: white;
                    transform: rotate(45deg);
                    transition: all .3s;
                }

                &::after {
                    content: "";
                    position: absolute;
                    margin: auto;
                    top: -5px;
                    right: 0;
                    bottom: 0;
                    left: -5px;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 2px solid white;
                    transition: all 0.3s;
                }
            }

            input {
                // font-family: 'Inconsolata', monospace;
                position: absolute;
                margin: auto;
                top: 50px;
                right: 0;
                bottom: 0;
                left: 0;
                width: 50px;
                height: 50px;
                outline: none;
                border: none;
                // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                background: #50b8db;
                color: white;
                text-shadow: 0 0 10px #50b8db;
                padding: 0 80px 0 20px;
                border-radius: 30px;
                box-shadow: 0 0 10px 0 #50b8db,
                    0 5px 10px 0 rgba(0, 0, 0, 0.2);
                // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.3);
                transition: all 0.5s;
                opacity: 0;
                z-index: 5;
                font-weight: bolder;
                letter-spacing: 0.1em;

                &:hover {
                    cursor: pointer;
                }

                &:focus {
                    width: 320px;
                    opacity: 1;
                    cursor: text;
                }

                &:focus~.search {
                    right: -280px;
                    background: #151515;
                    z-index: 6;

                    &::before {
                        top: 0;
                        left: 0;
                        width: 25px;
                    }

                    &::after {
                        top: 0;
                        left: 0;
                        width: 25px;
                        height: 2px;
                        border: none;
                        background: white;
                        border-radius: 0%;
                        transform: rotate(-45deg);
                    }
                }

                &::placeholder {
                    color: white;
                    opacity: 0.7;
                    // font-weight: bolder;
                }
            }

            .spacing {
                height: 100px;
                width: 100%;
            }

            .quick-search-container {
                width: 80%;
                position: absolute;
                display: flex;
                gap: 20px;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                top: 260px;
                bottom: 0;
                left: 45px;
                right: 0;

                .quick-search {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    // padding: 5px 50px;
                    padding-left: 0px;
                    padding-right: 5px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    gap: 10px;
                    border: 2px solid #50b8db;
                    border-radius: 10px;
                    background-color: white;

                    .quick-search-icon-1 {
                        font-size: 20px;
                        // height: 40px;
                        // width: 45px !important;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-right: 2px solid #50b8db;
                        border-radius: 5px;
                        color: rgb(0, 13, 255);
                        border-collapse: collapse;
                    }

                    .quick-search-icon-2 {
                        font-size: 20px;
                        // height: 40px;
                        // width: 45px !important;
                        padding-left: 10px;
                        padding-right: 7.3px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-right: 2px solid #50b8db;
                        border-radius: 5px;
                        border-collapse: collapse;
                        color: green;
                    }

                    .quick-search-content-1 {
                        font-size: 18px;
                        color: #1a5fdf;
                        padding-top: 7px;
                    }

                    .quick-search-content-2 {
                        color: #1a5fdf;
                        font-size: 18px;
                        padding-top: 7px;
                    }
                }
            }
        }
    }

    .home-page-banners {
        background: url('../../../assets/family-doctor-composition-with-indoor-scenery-wall-passage-doctor-door-with-patients-family-vector-i/2306.q702.010.S.m005.c13.family\ doctor.jpg');
        width: 70%;
        height: 100%;
        background-size: contain;
        /* Or contain, or specific dimensions */
        background-position: right;
        background-repeat: no-repeat;
    }
}




.header-side-bar {
    @import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');


    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .side-bar-toggle {
        z-index: 5001;
        cursor: pointer;
    }

    // .side-bar-toggle:hover {
    //     border: 2px solid #2b49a1;
    // }

    .sidebar {
        position: fixed;
        z-index: 5000;
        width: 240px;
        top: 0;
        left: -241px;
        height: 100%;
        background: #ffffff;
        transition: all .3s ease;
        overflow-y: scroll;
        
        .home-page-side-bar-language-option {
            // position: absolute;
            width: 100%;
            // bottom: 3px;
            // left: 4px;
            height: 60px !important;
            // border: 1px solid red;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-top: 20px;
            display: flex;
            justify-content: left;
            /* Căn giữa theo chiều ngang */
            align-items: center;
            gap: 20px;
            border-right: 2px solid #2b49a1;


            .vietnamese-option {
                background: url('../../../assets/homePageIcon/vietnam.png');
                background-size: 120% 160%;
                height: 30px;
                width: 40px;
                /* Or contain, or specific dimensions */
                border: 2px solid black;
                border-radius: 3px;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0.5;
                cursor: pointer;

                &.active {
                    //khi thêm class active cvaof class cha này thì những css trong active sẽ hoạt động
                    border: 3px solid #50b8db;
                    opacity: 1;
                }
            }

            .english-option {
                background: url('../../../assets/homePageIcon/united-kingdom.png');
                background-size: 110% 150%; //để hcho vừa khít với border bên ngoài
                height: 30px;
                width: 40px;
                /* Or contain, or specific dimensions */
                background-position: center;
                border: 2px solid black;
                border-radius: 3px;
                background-repeat: no-repeat;
                cursor: pointer;
                opacity: 0.5;

                &.active {
                    //khi thêm class active cvaof class cha này thì những css trong active sẽ hoạt động
                    border: 3px solid #50b8db;
                    opacity: 1;
                }
            }
        }
    }

    .sidebar::-webkit-scrollbar {
        display: none;
        width: 8px;
    }

    .sidebar header {
        font-size: 28px;
        color: white;
        line-height: 70px;
        text-align: center;
        background: #2b49a1;
        user-select: none;
        font-family: 'Montserrat', sans-serif;
    }

    .sidebar a {
        display: block;
        height: 50px;
        width: 100%;
        color: #49BCE2;
        line-height: 50px;
        padding-left: 15px;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        border-top: 1px solid rgba(50, 54, 255, 0.1);
        border-left: 5px solid transparent;
        border-right: 2px solid #2b49a1;
        font-family: 'Open Sans', sans-serif;
        transition: all .3s ease;
    }

    a.active,
    a:hover {
        border-left: 5px solid #2b49a1;
        color: #2b49a1;
        font-size: 17px;
    }

    .sidebar a i {
        font-size: 23px;
        margin-right: 16px;
    }

    .sidebar a span {
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    #check {
        display: none;
    }

    label #btn,
    label #cancel {
        position: absolute;
        top: -3px;
        left: -6px;
        cursor: pointer;
        font-size: 25px;
        cursor: pointer;
        color: rgb(132, 132, 132);
        border: 2px solid rgb(255, 255, 255);
        background-color: white;
        // height: 40px;
        // width: 40px;
        border-radius: 15px;
        text-align: center;
        // line-height: 45px;
        transition: all .3s ease;
        z-index: 8;

        .fas.fa-bars {
            padding: 30px !important;
            height: 40px;
            width: 40px;
        }

        .fas.fa-times {
            padding: 30px !important;
            height: 40px;
            width: 40px;
        }
    }

    label #cancel {
        opacity: 0;
        visibility: hidden;
    }

    #check:checked~.sidebar {
        left: 0;
    }

    #check:checked~label #btn {
        margin-left: 223px;
        border: 2px solid #2b49a1;
        opacity: 0;
        visibility: hidden;
    }

    #check:checked~label #cancel {
        margin-left: 223px;
        border: 2px solid white;
        background-color: #50b8db;
        color: white;
        opacity: 1;
        visibility: visible;
    }

    @media(max-width : 860px) {
        .sidebar {
            height: auto;
            width: 70px;
            left: 0;
            margin: 100px 0;
        }

        header,
        #btn,
        #cancel {
            display: none;
        }

        span {
            position: absolute;
            margin-left: 23px;
            opacity: 0;
            visibility: hidden;
        }

        .sidebar a {
            height: 60px;
        }

        .sidebar a i {
            margin-left: -10px;
        }

        a:hover {
            width: 200px;
            background: inherit;
        }

        .sidebar a:hover span {
            opacity: 1;
            visibility: visible;
        }
    }
}